<?php

// Data validation
$userId 			= ( int ) trim ( filter_input ( INPUT_GET, "u", FILTER_SANITIZE_NUMBER_INT ) );
$passwordResetHash 	= trim ( filter_input ( INPUT_GET, "h" ) );

// Check if password reset hash exists and if user id is valid
$userAccount = User::loadUserByPasswordResetHash ( $passwordResetHash );
if ( !$userAccount || $userId != $userAccount->usr_id ) {
	Functions::redirect ( WEB_ROOT . "/index.html" );
}

// Page settings
define ( "PAGE_NAME", "Reset Password" );
define ( "PAGE_DESCRIPTION", "Reset account password" );
define ( "PAGE_KEYWORDS", "recover, forgot, password, account, user, cloud, file, hosting, sharing, upload, storage, site, website" );
define ( "HTML_ELEMENT_CLASS", "login-page-wrapper" );

// Include header top
require_once ( THEME_TEMPLATES_PATH . "/partial/header_top.inc.php" );
?>

<body class="page-body login-page login-form-fall">
    <div class="login-container">
        <div class="login-header login-caret">
            <div class="login-content">
                <a href="<?php echo WEB_ROOT; ?>/index.html" class="logo">
                    <img src="<?php echo THEME_IMAGE_PATH; ?>/logo/logo.png" alt="<?php echo CONFIG_SITE_NAME; ?>" />
                </a>

                <!-- progress bar indicator -->
                <div class="login-progressbar-indicator">
                    <h3>1%</h3>
                    <span>Reseting password...</span>
                </div>
            </div>
        </div>
        <div class="login-progressbar">
            <div></div>
        </div>
        <div class="login-form">
            <div class="login-content">
				<div class="login-main-box">
					<div class="form-login-error">
						<h3>Error</h3>
						<p id="error-message-container"></p>
					</div>
					<p class="description">Set the new password for your account below.</p>
					<form method="post" role="form" id="form_forgot_password_reset" action="forgot_password_reset.html" autocomplete="off">
						<!-- fix for chrome auto complete not working -->
						<input style="display:none"><input type="password" style="display:none">

						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="entypo-lock"></i>
								</div>
								<input type="password" class="form-control" name="password" id="password" placeholder="Password" autocomplete="off" required />
							</div>
						</div>
						<div class="form-group">
							<div class="input-group">
								<div class="input-group-addon">
									<i class="entypo-lock"></i>
								</div>
								<input type="password" class="form-control" name="passwordConfirm" id="passwordConfirm" placeholder="Repeat Password" autocomplete="off" required />
							</div>
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-info btn-block btn-login">
								<i class="entypo-right-open-mini"></i> Reset Password
							</button>
						</div>

						<input type="hidden" value="<?php echo $userId; ?>" name="u" id="u"/>
						<input type="hidden" value="<?php echo Functions::getUserIpAddress ( ); ?>" name="i" id="i"/>
						<input type="hidden" value="<?php echo Validate::prepareOutput ( $passwordResetHash ); ?>" name="h" id="h"/>
					</form>

					<div>&nbsp;</div>
					<div class="login-bottom-links">
						<a href="<?php echo WEB_ROOT; ?>/login.html" class="link"><i class="entypo-lock"></i> Back to Login Form</a>
					</div>
				</div>
            </div>

			<div class="footer-login-links">
                Copyright &copy; <?php echo date ( "Y" ); ?> - <a href="<?php echo WEB_ROOT; ?>/index.html"><?php echo CONFIG_SITE_NAME; ?></a>
			</div>
        </div>
    </div>


    <!-- bottom scripts -->
    <script type="text/javascript" src="<?php echo THEME_JS_PATH; ?>/gsap/main-gsap.js"></script>
    <script type="text/javascript" src="<?php echo THEME_JS_PATH; ?>/bootstrap.js"></script>
    <script type="text/javascript" src="<?php echo THEME_JS_PATH; ?>/joinable.js"></script>
    <script type="text/javascript" src="<?php echo THEME_JS_PATH; ?>/resizeable.js"></script>
    <script type="text/javascript" src="<?php echo THEME_JS_PATH; ?>/cloudable-api.js"></script>
    <script type="text/javascript" src="<?php echo THEME_JS_PATH; ?>/jquery.validate.min.js"></script>
    <script type="text/javascript" src="<?php echo THEME_JS_PATH; ?>/cloudable-login.js"></script>
    <script type="text/javascript" src="<?php echo THEME_JS_PATH; ?>/custom.js"></script>
</body>
</html>
